{% import 'macros/blueprints.html.twig' as macros %}

{% set form_id = form_id ? form_id : 'blueprints' %}
{% set scope = scope ?: 'data.' %}
{% set types_to_translate = config.plugins.translator.fields %}

<form id="{{ form_id }}" method="post" data-grav-form="{{ form_id }}" data-grav-keepalive="true">

    {{ macros.fields_loop(blueprints.fields.tabs.fields.content.fields, data, types_to_translate, readonly) }}

    {% if hidden %}
        {% for input, value in hidden %}
            <input type="hidden" name="{{ input }}" value="{{ value }}"/>
        {% endfor %}
    {% endif %}

    {{ nonce_field('translator-form', 'translator-nonce')|raw }}
</form>
