<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>

<body bgcolor="#f6f6f6">

<center>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="x_1421436125bodyTable" style="border-collapse: collapse;height: 100%;margin: 0;padding: 0;width: 100%;background-color: rgb(242,242,242);">
        <tr>
            <td align="center" valign="top" id="x_1421436125bodyCell" style="height: 100%;margin: 0;padding: 0;width: 100%;border-top: 5px solid rgb(255,255,255);">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                    <tr>
                        <td align="center" valign="top" style="">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="x_1421436125templatePreheader" style="border-collapse: collapse;background-color: rgb(242,242,242);border-top: 0;border-bottom: 0;">
                                <tr>
                                    <td align="center" valign="top" style="">
                                        <table border="0" cellpadding="0" cellspacing="0" width="600" class="x_1421436125templateContainer" style="border-collapse: collapse;">
                                            <tr>
                                                <td valign="top" class="x_1421436125preheaderContainer" style="padding-top: 10px;padding-bottom: 10px;">
                                                    <table class="x_1421436125mcnDividerBlock" style="min-width: 100%;border-collapse: collapse;table-layout: fixed;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                        <tbody class="x_1421436125mcnDividerBlockOuter">
                                                        <tr>
                                                            <td class="x_1421436125mcnDividerBlockInner" style="min-width: 100%;padding: 18px;">
                                                                <table class="x_1421436125mcnDividerContent" style="min-width: 100%;border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="">
                                                                            <span></span>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="x_1421436125mcnImageBlock" style="min-width: 100%;border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                        <tbody class="x_1421436125mcnImageBlockOuter">
                                                        <tr>
                                                            <td style="padding: 9px;" class="x_1421436125mcnImageBlockInner" valign="top">
                                                                <table class="x_1421436125mcnImageContentContainer" style="min-width: 100%;border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td class="x_1421436125mcnImageContent" style="padding: 0 9px;text-align: center;" valign="top">
                                                                            <img alt="" src="{{ logo }}" style="max-width: 561px;padding-bottom: 0;display: inline;vertical-align: bottom;border: 0;height: auto;outline: none;text-decoration: none;" class="x_1421436125mcnImage" width="561" align="middle"/>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="x_1421436125templateHeader" style="border-collapse: collapse;background-color: rgb(242,242,242);border-top: 0;border-bottom: 0;">
                                <tr>
                                    <td align="center" valign="top" style="padding-top: 20px;padding-bottom: 20px;">
                                        <table border="0" cellpadding="0" cellspacing="0" width="600" class="x_1421436125templateContainer" style="border-collapse: collapse;">
                                            <tr>
                                                <td align="center" height="10" valign="top" width="10" style="">
                                                    <img src="https://cdn-images.mailchimp.com/template_images/gallery/d4042106-8117-4b79-b76b-91f8d64c5dff.gif" height="10" width="10" style="display: block;line-height: 0;border: 0;height: auto;outline: none;text-decoration: none;"/>
                                                </td>
                                                <td align="center" height="10" valign="top" class="x_1421436125headerRearBackground" style="opacity: 0.5;background-color: {{ color }};">
                                                    <img src="https://cdn-images.mailchimp.com/template_images/gallery/640a7ee0-db88-4905-a550-89e571c94697.png" class="x_1421436125mcnImage" height="10" width="580" style="display: block;line-height: 0px;border: 0;height: auto;outline: none;text-decoration: none;vertical-align: bottom;"/>
                                                </td>
                                                <td align="center" height="10" valign="top" width="10" style="">
                                                    <img src="https://cdn-images.mailchimp.com/template_images/gallery/d4042106-8117-4b79-b76b-91f8d64c5dff.gif" height="10" width="10" style="display: block;line-height: 0px;border: 0;height: auto;outline: none;text-decoration: none;"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" colspan="3" valign="top" style="">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="x_1421436125headerFrontBackground" style="border-collapse: collapse;background-color: {{ color }};border-bottom: 2px solid rgb(255,255,255);">
                                                        <tr>
                                                            <td align="center" valign="top" style="">
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="" style="border-collapse: collapse;">
                                                                    <tr>
                                                                        <td valign="top" class="x_1421436125headerContainer" style="padding-top: 20px;padding-bottom: 20px;">
                                                                            <table class="x_1421436125mcnTextBlock" style="min-width: 100%;border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                <tbody class="x_1421436125mcnTextBlockOuter">
                                                                                <tr>
                                                                                    <td class="x_1421436125mcnTextBlockInner" style="padding-top: 9px;" valign="top">
                                                                                        <table style="max-width: 100%;min-width: 100%;border-collapse: collapse;" class="x_1421436125mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                                            <tbody>
                                                                                            <tr>
                                                                                                <td class="x_1421436125mcnTextContent" style="padding: 0px 18px 9px;font-style: normal;font-weight: normal;line-height: 200%;color: rgb(255,255,255);font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 16px;text-align: left;" valign="top">
                                                                                                    <h1 style="display: block;margin: 0;padding: 0;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 26px;font-style: normal;font-weight: bold;line-height: 200%;letter-spacing: 1px;text-align: center;color: rgb(255,255,255);">
                                                                                                      {{ title }}
                                                                                                    </h1>
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <table class="x_1421436125mcnTextBlock" style="min-width: 100%;border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                <tbody class="x_1421436125mcnTextBlockOuter">
                                                                                <tr>
                                                                                    <td class="x_1421436125mcnTextBlockInner" style="padding-top: 9px;" valign="top">
                                                                                        <table style="max-width: 300px;border-collapse: collapse;" class="x_1421436125mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                                            <tbody>
                                                                                            <tr>
                                                                                                <td class="x_1421436125mcnTextContent" style="padding: 0 18px 9px;color: rgb(255,255,255);font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 16px;line-height: 150%;text-align: left;" valign="top">
                                                                                                    <strong><span style="font-size: 17px;">Language:</span></strong><br/>
                                                                                                    <span style="font-size: 16px;">{{ lang }}</span><br/><br/>
                                                                                                    <strong><span style="font-size: 17px;">Page:</span></strong><br/>
                                                                                                    <span style="font-size: 16px;"><a href="{{ preview_url }}" target="_blank" style="color: rgb(255,255,255);font-weight: normal;text-decoration: underline;">Preview Translation</a></span><br/>
                                                                                                    &nbsp;
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                        <table style="max-width: 300px;border-collapse: collapse;" class="x_1421436125mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                                            <tbody>
                                                                                            <tr>
                                                                                                <td class="x_1421436125mcnTextContent" style="padding: 0 18px 9px;color: rgb(255,255,255);font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 16px;line-height: 150%;text-align: left;" valign="top">
                                                                                                    <span style="font-size: 17px;"><strong>Submitted:</strong></span><br/>
                                                                                                    <span style="font-size: 16px;">{{ now }}</span><br/>
                                                                                                    <br/>
                                                                                                    <span style="font-size: 17px;"><strong>User:</strong></span><br/>
                                                                                                    <span style="font-size: 16px;">{{ name }} </span><br/>
                                                                                                    &nbsp;
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <table class="x_1421436125mcnDividerBlock" style="min-width: 100%;border-collapse: collapse;table-layout: fixed;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                <tbody class="x_1421436125mcnDividerBlockOuter">
                                                                                <tr>
                                                                                    <td class="x_1421436125mcnDividerBlockInner"
                                                                                        style="min-width: 100%;padding: 18px;">
                                                                                        <table class="x_1421436125mcnDividerContent" style="min-width: 100%;border-top: 2px solid rgb(234,234,234);border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                            <tr>
                                                                                                <td style="">
                                                                                                    <span></span>
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>

                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <table class="x_1421436125mcnButtonBlock" style="min-width: 100%;border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                <tbody class="x_1421436125mcnButtonBlockOuter">
                                                                                <tr>
                                                                                    <td style="padding: 0 18px 18px;" class="x_1421436125mcnButtonBlockInner" valign="top" align="center">
                                                                                        <table class="x_1421436125mcnButtonContentContainer" style="border-collapse: separate;border: 2px solid rgb(137,208,133);border-radius: 4px;background-color: rgb(137,208,133);" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                            <tr>
                                                                                                <td class="x_1421436125mcnButtonContent" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 16px;" valign="middle" align="center">
                                                                                                    <a class="x_1421436125mcnButton" title="APPROVE" href="{{ approve_url }}" target="_blank" style="padding: 20px;font-weight: bold;letter-spacing: 1px;line-height: 100%;text-align: center;text-decoration: none;color: rgb(255,255,255);display: block;">APPROVE</a>
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <table class="x_1421436125mcnButtonBlock" style="min-width: 100%;border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                <tbody class="x_1421436125mcnButtonBlockOuter">
                                                                                <tr>
                                                                                    <td style="padding: 0 18px 18px;" class="x_1421436125mcnButtonBlockInner" valign="top" align="right">
                                                                                        <table class="x_1421436125mcnButtonContentContainer" style="border-collapse: separate;border: 2px solid rgb(242,242,242);border-radius: 4px;background-color: rgb(132,58,60);" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                            <tr>
                                                                                                <td class="x_1421436125mcnButtonContent" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 16px;" valign="middle" align="center">
                                                                                                    <a class="x_1421436125mcnButton" title="DENY" href="{{ deny_url }}" target="_blank" style="padding: 20px;font-weight: bold;letter-spacing: 1px;line-height: 100%;text-align: center;text-decoration: none;color: rgb(255,255,255);display: block;">DENY</a>
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <table class="x_1421436125mcnButtonBlock" style="min-width: 100%;border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                <tbody class="x_1421436125mcnButtonBlockOuter">
                                                                                <tr>
                                                                                    <td style="padding: 0 18px 18px;" class="x_1421436125mcnButtonBlockInner" valign="top" align="right">
                                                                                        <table class="x_1421436125mcnButtonContentContainer" style="border-collapse: separate;border: 2px solid rgb(242,242,242);border-radius: 4px;background-color: rgb(255,255,255);" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                            <tr>
                                                                                                <td class="x_1421436125mcnButtonContent" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 16px;" valign="middle" align="center">
                                                                                                    <a class="x_1421436125mcnButton" title="EMAIL" href="mailto:{{ email }}?subject=Contact%20regarding%20approval%20request" target="_blank" style="padding: 20px;font-weight: bold;letter-spacing: 1px;line-height: 100%;text-align: center;text-decoration: none;color: rgb(34,34,34);display: block;">EMAIL</a>
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="">

                            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="x_1421436125templateBody" style="border-collapse: collapse;background-color: rgb(242,242,242);border-top: 0;border-bottom: 0;">
                                <tr>
                                    <td align="center" valign="top" style="">
                                        <table border="0" cellpadding="0" cellspacing="0" width="600" class="x_1421436125templateContainer" style="border-collapse: collapse;">
                                            <tr>
                                                <td valign="top" class="x_1421436125bodyContainer" style="padding-top: 10px;padding-bottom: 10px;">
                                                    <table class="x_1421436125mcnTextBlock" style="min-width: 100%;border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                        <tbody class="x_1421436125mcnTextBlockOuter">
                                                        <tr>
                                                            <td class="x_1421436125mcnTextBlockInner" style="padding-top: 9px;" valign="top">
                                                                <table style="max-width: 100%;min-width: 100%;border-collapse: collapse;" class="x_1421436125mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td class="x_1421436125mcnTextContent" style="padding: 0 18px 9px;color: rgb(96,96,96);font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;line-height: 150%;text-align: left;" valign="top">
                                                                            <center>
                                                                                <em>Have any issues with this email?
                                                                                Please contact the developer at <a href="mailto:ricardo@urbansquid.london?subject=Help" target="_blank" style="color: {{ color }};font-weight: normal;text-decoration: underline;">email.</a>
                                                                            </em>
                                                                            <br/>
                                                                            <br/>
                                                                            <em>You can also contact via github issues, available at <a href="https://github.com/ricardo118/grav-plugin-translator/issues" target="_blank" style="color: {{ color }};font-weight: normal;text-decoration: underline;">Github Issues.</a></em>
                                                                            <br/>
                                                                            <br/>
                                                                            <em>You are welcome to join the discussion on the offical Grav discord,<br> available at <a href="https://getgrav.org/discord" target="_blank" style="color: {{ color }};font-weight: normal;text-decoration: underline;">Grav Official Discord.</a></em>
                                                                            <br/>
                                                                            <br/>
                                                                            <br/>
                                                                            Thanks for your help!
                                                                            </center>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="padding-bottom: 40px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="x_1421436125templateFooter" style="border-collapse: collapse;background-color: rgb(242,242,242);border-top: 0;border-bottom: 0;">
                                <tr>
                                    <td align="center" valign="top" style="">
                                        <table border="0" cellpadding="0" cellspacing="0" width="600" class="x_1421436125templateContainer" style="border-collapse: collapse;">
                                            <tr>
                                                <td valign="top" class="x_1421436125footerContainer" style="padding-top: 10px;padding-bottom: 10px;">
                                                    <table class="x_1421436125mcnDividerBlock" style="min-width: 100%;border-collapse: collapse;table-layout: fixed;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                        <tbody class="x_1421436125mcnDividerBlockOuter">
                                                        <tr>
                                                            <td class="x_1421436125mcnDividerBlockInner" style="min-width: 100%;padding: 18px;">
                                                                <table class="x_1421436125mcnDividerContent" style="min-width: 100%;border-top: 1px solid rgb(170,170,170);border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="">
                                                                            <span></span>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>

                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="x_1421436125mcnTextBlock" style="min-width: 100%;border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                        <tbody class="x_1421436125mcnTextBlockOuter">
                                                        <tr>
                                                            <td class="x_1421436125mcnTextBlockInner" style="padding-top: 9px;" valign="top">
                                                                <table style="max-width: 100%;min-width: 100%;border-collapse: collapse;" class="x_1421436125mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td class="x_1421436125mcnTextContent" style="padding: 0 18px 9px;color: rgb(170,170,170);font-family: Helvetica;font-size: 10px;line-height: 125%;text-align: center;" valign="top">
                                                                            <em>Copyright &copy; 2019 Grav Translator Plugin, All rights reserved.</em>
                                                                            <br/>
                                                                            <br/>
                                                                            by:
                                                                            <br/>
                                                                            <br/>
                                                                            <a href="https://urbansquid.london" target="_blank" style="color: rgb(170,170,170);font-weight: normal;text-decoration: underline;">urbansquid.london</a>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</center>
</body>
</html>
