{% extends 'partials/base-translators.html.twig' %}
{% if config.plugins.ckeditor5.enabled %}
    {% do assets.addCss('plugins://ckeditor5/admin/custom.css') %}
    {% do assets.addJs('plugins://ckeditor5/vendor/build/ckeditor.js') %}
{% endif %}

{% set title = 'Translating to ' ~ grav.language.getLanguageCode(translatableLang, 'name') %}
{% set logo_classes = 'tight' %}
{% set logout_classes = 'tight' %}

{% block header %}{% endblock %}
{% block row %}
    <div class="col-12 col-sm-6 origin-lang">
        <div class="bg"></div>
        <div class="info-holder">
            <div class="form-content">
                <span class="d-block">Translating from:</span>
                <a href="{{ url(default.route) }}" target="_blank" alt="Preview Original!" class="d-inline">
                    <h3 class="mb-0">{{ grav.language.getLanguageCode(grav.language.getActive(), 'name') }} <i class="translator external-link"></i></h3>
                </a>
                <a href="{{ url(translator_base) }}">Change Page</a>
                <hr>
                {% include 'partials/blueprints.html.twig' with { blueprints: default.blueprints, data: default, readonly: true} %}
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="form-content">
            <div>
                <span class="d-block">Translating to:</span>
                <select class="custom-select mt-1" data-language>
                    {% if 'super' in grav.user.translator %}
                        {% for lang in grav.language.languages if lang is not same as(grav.language.default) %}
                            <option value="{{ lang }}" {{ lang is same as(uri.param('lang')) ? 'selected disabled' }}>{{ grav.language.getLanguageCode(lang, 'name') }}</option>
                        {% endfor %}
                    {% else %}
                        {% for lang in grav.user.translator %}
                            <option value="{{ lang }}" {{ lang is same as(uri.param('lang')) ? 'selected disabled' }}>{{ grav.language.getLanguageCode(lang, 'name') }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
                <a href="{{ url(uri.path) }}" data-change-language>Change Language to</a>
                <hr>
                {% include 'partials/blueprints.html.twig' with {form_id: 'translated', blueprints: translatable.blueprints, data: translatable, hidden: {'template': default.template} } %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
<div class="footer">
    {% include 'partials/messages.html.twig' with {classes: 'translate'} %}
    <div class="translator-actions">{{ dump(uri) }}
        <button class="btn btn-primary" type="submit" form="translated" href="{{ url(uri.uri ~ '/task:translator.save') }}" data-translator-save="{{ default.route }}/{{ translatable.name }}">Save</button>
        <a class="btn btn-primary {{ hasSave ?: 'hide' }}" href="{{ url('/' ~ translatableLang ~ uri.path|replace({'edit':'preview'}) ) }}" target="_blank" data-preview>Preview</a>
        <a class="btn btn-primary {{ hasSave ?: 'hide' }}" href="{{ url(uri.uri ~ '/task:translator.request.approval') }}" data-approval="{{ url(default.route) }}" data-tooltip="Submit for Admin approval">Submit</a>
    </div>
</div>
{% endblock %}
