{% extends 'partials/base-translators.html.twig' %}

{% macro page_options(globals, pages_list) %}
    {% set field = globals.field %}
    {% set value = globals.value %}
    {% if field.options and depth == 0 %}
        {% for key, value in field.options %}
            <option value="{{ key|e('html_attr') }}">{{ value|t }}</option>
        {% endfor %}
    {% endif %}

    {% for page_route, option in pages_list %}
        <option {% if page_route == value or (field.multiple and page_route in value) %}selected="selected"{% endif %} value="{{ page_route }}">{{ option|raw }}</option>
    {% endfor %}
{% endmacro %}

{% import _self as macro %}

{% block header %}{% endblock header %}

{% block content %}
<div class="form-items">
    <h3>Select the language and page to translate.</h3>
    <p>If you have any questions regarding translation, please contact an admin.</p>
    {% include 'partials/messages.html.twig' %}

    <label>
        Pick the language to translate
        <select class="custom-select mt-1" data-lang>
            {% if 'super' in grav.user.translator %}
                {% for lang in grav.language.languages if lang is not same as(grav.language.default) %}
                    <option value="{{ lang }}">{{ grav.language.getLanguageCode(lang, 'name') }}</option>
                {% endfor %}
            {% else %}
                {% for lang in grav.user.translator %}
                    <option value="{{ lang }}">{{ grav.language.getLanguageCode(lang, 'name') }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </label>

    {% set page_list = grav.pages.getList(null, 0, true, true, false, false, true, false) %}
    <label>
        Pick the page to translate
        <select class="custom-select mt-1" data-page-select>
            {{ macro.page_options(_context, page_list) }}
        </select>
    </label>

    <div class="form-button full-width">
        <a class="button primary" href="{{ url(uri.path ~ '/edit')}}" data-translate>Translate</a>
    </div>
</div>
{% endblock content %}
